<h3>
        <a class="btn btn-secondary" href="/student">Create New</a> Student List
</h3>

<table class="table table=striped">
        <thead>
                <tr>
                        <th> Full Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>City</th>
                </tr>
        </thead>
        <tbody>
                {{#each students}}
                <tr>
                        <td>{{this.fullName}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.Mobile}}</td>
                        <td>{{this.city}}</td>
                        <td>
                                <a class="btn btn-primary btn-sm" href="/stuent/{{this.id}}">Edit</a>
                                <a class="btn btn-primary btn-sm" 
                                   href="/student/delete/{{thid.id}}"> Delete</a>
                        </td>
                </tr>
                {{/each}}
        </tbody>
</table>
